<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tamil POS Tagger</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
            <h1 id="title">Tamil POS Tagger</h1>
            <div class="navButtons">
                <form method="post" id="posTagForm" onsubmit="saveSentence(); return false;">
                    {% csrf_token %}
                    <button class="navbuttons">Save Sentence</button>
                </form>
            <button class="navbuttons" onclick="processText()">Process Text</button>
            <button class="navbuttons" onclick="undo()">Undo</button>
            <button class="navbuttons" onclick="clearData()">Clear data</button>
            <button class="navbuttons" onclick="downloadFile()">Download</button>
            <button class="navbuttons" onclick="nextSentence()">Next Sentence</button>
            <!--<button class="navbuttons" onclick="editText()">Edit Text</button>-->
            <form method="post" id="posTagForm">
                {% csrf_token %}
                <button class="navbuttons" onclick="saveProcessText()">Save</button>
            </form>
        </div>
    </header>
    <div class="mainBody">
        <div class="mainContent">
            <div class="textDropdown">
                <div class="inputText">
                    <div id="textInput" contentEditable="true" class="text-input"></div>
                </div>
            </div>
            <div class="buttons">
                <table>
                    <tr>
                        <td><button onclick="tagWord('NN')">Noun</button></td>
                        <td><button onclick="tagWord('NNC')">Compound Noun</button></td>
                        <td><button onclick="tagWord('NNP')">Proper Noun</button></td>
                    </tr>
                    <tr>
                        <td><button onclick="tagWord('CRD')">Cardinals</button></td>
                        <td><button onclick="tagWord('PRP')">Pronoun</button></td>
                        <td><button onclick="tagWord('PRIN')">Pronoun Interrogative</button></td>
                    </tr>
                    <tr>
                        <td><button onclick="tagWord('PRID')">Pronoun Indefinite</button></td>
                        <td><button onclick="tagWord('ADJ')">Adjective</button></td>
                        <td><button onclick="tagWord('ADV')">Adverb</button></td>
                    </tr>
                    <tr>
                        <td><button onclick="tagWord('VNAJ')">VNF Adjective</button></td>
                        <td><button onclick="tagWord('VNAV')">VNF Adverb</button></td>
                        <td><button onclick="tagWord('VBG')">Verbal Gerund</button></td>
                    </tr>
                    <tr>
                        <td><button onclick="tagWord('VF')">Verb Finite</button></td>
                        <td><button onclick="tagWord('VAX')">Verb Auxiliary</button></td>
                        <td><button onclick="tagWord('VINT')">Verb Infinite</button></td>
                    </tr>
                    <tr>
                        <td><button onclick="tagWord('CNJ')">Conjunction</button></td>
                        <td><button onclick="tagWord('QTF')">Quantifiers</button></td>
                        <td><button onclick="tagWord('PPO')">PostPositions</button></td>
                    </tr>
                    <tr>
                        <td><button onclick="tagWord('DET')">Determiners</button></td>
                        <td><button onclick="tagWord('INT')">Intensifier</button></td>
                        <td><button onclick="tagWord('ECH')">Echo Words</button></td>
                    </tr>
                    <tr>
                        <td><button onclick="tagWord('EMP')">Emphasis</button></td>
                        <td><button onclick="tagWord('COMM')">Comma</button></td>
                        <td><button onclick="tagWord('DOT')">Dot</button></td>
                    </tr>
                    <tr>
                        <td><button onclick="tagWord('QM')">Question Marks</button></td>
                        <td><button onclick="tagWord('RDW')">Reduplication Words</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="mainOutput">
            <form method="post" id="posTagForm">
                {% csrf_token %}
                <div id="tagged-output"></div>
            </form>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
